.application {
  min-height: 100vh;
}

.applicationHeader {
  padding: 0px 24px;
}

.applicationTitle {
  float: left;
  margin: 0px 24px 0px 0px;
  color: #ffffff;
}

.applicationSider {
  width: 240px;
  background: #ffffff;
}

.applicationBreadcrumb {
  margin: 16px 0;
}

.applicationPageWrapper {
  padding: 0 24px 24px;
}

.applicationPageWrapperContent {
  margin: 0;
  padding: 24px;
  background: #ffffff;
}

.applicationFooter {
  text-align: center;
}
